* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f0f1f3;
}

/* ASIDE-BAR */

.aside_bar {
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    height: 100%;
    width: 100%;
    max-width: 270px;
}

.main_section {
    width: 100%;
    margin-left: 270px;
}

.main_section_remove {
    margin-left: 0px;
    transition: all 0.2s ease-in;
}

/* ASIDE-TOP */

.aside_top {
    background-color: #fdc500;
    display: flex;
    text-align: center;
    position: relative;
    justify-content: space-between;
    padding: 10px;
}

.cancel_buuton {
    position: absolute;
    top: 0px;
    right: 12px;
    border: nne;
    border: none;
    background: transparent;
    font-size: 23px;
    display: none;
}


h1 {
    color: #fff;
    margin: 0px;
    padding-left: 22px;
    padding-top: 10px;
    font-size: 30px;
}

.fa-graduation-cap {
    font-size: 27px;
    color: #00000063;
    transform: rotate(319deg) !important;
    position: absolute;
    top: 7px;
    left: 16px;
}

.aside_top span {
    padding: 0px;
    margin: 0px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    right: 126px;
    top: 16px;
}

.header_add_class {
    width: 100% !important;
    transition: all 0.5s;
}

.header_div {
    position: relative;
}

.top_div {
    display: flex;
}


/* HEADER */

.bg-body-tertiary {
    padding: 0px;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    padding: 11px 0px;
    background: #fff;
}

.fuction_button {
    width: 50px;
    height: 48px;
    border: none;
    background: no-repeat;
    font-size: 24px;
    position: absolute;
    z-index: 999;
    transform: translate(-7px, 18px);
    font-weight: 500;
}

.navbar-brand {
    padding-left: 10px;
}

.navbar-brand strong {
    font-size: 20px;
    font-weight: 600;
}

.navbar-brand span {
    font-weight: 300;
    font-size: 15px;
}

.head_form input {
    width: 18vw;
    border-radius: 32px;
    background: #f1f2f4;
    border: none;
    padding: 2px;
    font-size: 12px;
    outline: 0px;
}

.fa-magnifying-glass {
    position: relative;
    left: -27px;
    font-size: 10px;
    vertical-align: 1px;
}

.earth_icon {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    height: 30px;
    width: 30px;
    justify-content: center;
    border-radius: 32px;
    font-size: 12px;
    margin-left: 10px;
}

.dropdown-menu[data-bs-popper] {
    left: -53px !important;
    text-align: center;
    box-shadow: 0px 8px 0px 0px gray;
    top: 44px !important;
}

.login_pannel_ul li {
    list-style: none;
}

.login_pannel_ul li a {
    color: #000;
    text-decoration: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: var(--bs-dropdown-link-hover-bg) none;
}

.Languages {
    font-size: 11px;
    border-right: 1px solid #00000029;
    font-weight: 700;
}

.hindi a {
    font-size: 15px;
}

.mail_notification {
    display: flex;
    justify-content: space-around;
    width: 85px;
    margin: 0px 6px;
}

.login_pannel {
    padding: 0px;
    margin-right: 50px;
}

.login_pannel_two {
    margin-right: 0px !important;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.mail_icon button:hover {
    background-color: #f5f5f573 !important;
}

.mail_icon button {
    width: 30px;
    height: 30px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5 !important;
    font-size: 12px;
}

.mail_icon span {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
}

.login_pannel img {
    height: 25px;
    width: 25px;
    border-radius: 32px;
    text-align: right;
}

.login_pannel span {
    font-size: 10px;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    justify-content: end;
    align-items: center;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) none;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    font-size: 20px;
}

.Student_login_Pannel h2 {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
}

.student_pannel_form input {
    width: 100%;
    max-width: 190px;
    font-size: 12px;
    border-radius: 32px;
    outline: none;
    border: none;
    background: #f1f2f4;
    padding: 5px;
    margin-top: 15px;
}

.Student_login_Pannel img {
    width: 50px;
    border-radius: 32px;
    height: 50px;
}

.pannel_buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.pannel_buttons button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

.laguages_menu {
    width: 10vw !important;
    left: 10 !important;
    left: -29px !important;
    top: 54px !important;
    border-radius: 10px;
    box-shadow: 0px 8px 0px 0px gray;
}

.laguages_menu li a {
    padding: 0px !important;
    height: 20px;
    font-size: 13px;
    font-weight: 400;
}

.form-control {
    display: inline-block !important;
}

.login_pannel_anchors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login_pannel_anchors a {
    text-align: center;
    text-decoration: none;
    color: #000;
    padding-left: -23px;
    padding: 10px 0px;
    margin-right: 50px;
}

.fa-users {
    color: #f8c504;
    padding-right: 18px;
    font-size: 12px;
}

.users {
    font-size: 30px;
    margin-left: 12px;
    color: #8BC34A;
}

@media screen and (max-width: 820px) {

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        padding: 24px;
        background: #fff;
        justify-content: space-between;
    }

    .head_form input {
        width: 30vw;
        margin: 20px;
    }

    .fuction_button {
        transform: translate(6px, 19px);
        font-size: 26px;
        font-weight: 500;
    }

    .earth_icon {
        margin: 0px 25px;
    }

    .Languages {
        font-size: 15px;
        border-right: none;
        margin-bottom: 10px;
        padding-left: 22px;
        width: 125px;

    }

    .mail_notification {
        margin: 7px 23px;
    }

    .nav-link {
        padding-left: 28px;
    }

    .laguages_menu {
        margin-bottom: 17px;
    }

    .cancel_buuton {
        display: block;
    }

    #headerMain {
        width: 100vw !important;
    }

    .admin_pannel {
        padding-top: 84px !important;
    }

    .event_celender_div {
        width: 100% !important;
    }

    .Notice_Board_main {
        width: 100% !important;
    }

    .main_section {
        margin-left: 0px;
    }

    .my_information_main {
        width: 100% !important;
    }

    .all_exam_results {
        height: 327px !important;
    }

    .all_exam_results_nest {
        height: 190px !important;
    }

    .Notice_Board_second_third {
        padding: 0px 0px !important;
        padding-left: 10px !important;
        padding: 10px 5px !important;
    }

    .Notice_Board_second_third_ h4 {
        font-size: 10px !important;
        font-weight: 700 !important;
    }

    .Notice_Board_second_button button {
        margin-left: -50px !important;
    }

    .bi-x {
        padding: 5px 4px !important;
    }

    .bi-chevron-down {
        padding: 4px 4px !important;
    }

    .fa-arrows-rotate {
        padding: 8px 4px !important;
    }

    .aside_top span {
        right: 106px;
    }

    .navbar-brand {
        transform: translate(200px, 0px);
    }

    .student_image_table {
        justify-content: start !important;
    }

    .student_detal_table {
        width: 80%;
    }

    .about_me_heading h4 {
        padding-left: 15px;
    }

    .student_detal_table tr th {
        padding-left: 15px;
    }

    .student_detail_icons {
        justify-content: start !important;
    }

    .add_padding_top_all_books {
        padding-top: 86px !important;
    }

    .all_Class_form input {
        width: 31% !important;
    }

    .all_class_tab {
        overflow: hidden !important;
        height: 100vh !important;
        overflow-x: auto !important;
    }

    .all_class_icons a i {
        margin-right: 8px;
    }

    .add_student_form-buttons {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }

    .padding_top_mobile {
        padding-top: 30px;
    }

    .hostel-margin-top {
        margin-top: -8px !important;
    }

    .notice-board .all_Class_form input {
        margin-right: -190px !important;
    }

    .notice-board .all_Class_form input {
        right: 343px !important;
    }

    .account-setting-top {
        margin-top: -1px !important;
        padding-bottom: 15px !important;
    }

    .account-settings .student_image_table {
        margin-left: 50px;
    }

    .account-settings .student_detal_table tr th {
        text-align: center;
    }

    .none-btn {
        display: block !important;
    }

    .home_admin {
        margin-top: 30px !important;
    }

    .subject-top {
        margin-top: 88px !important;
    }

    .student-details-main .all_students {
        margin-top: 26px !important;
    }

    .student-promotion-main .all_students {
        margin-top: 26px !important;
    }

    .parents-main .home_parents {
        margin-top: 30px !important;
    }

    .notice-bord-main .home_parents {
        margin-top: 5px !important;
    }

    .home-admin-main .home_admin {
        margin-top: 10px !important;
    }

    .create-payment-main .all_students {
        margin-top: 35px !important;
    }

    .all-teachers-list-main .all_students {
        margin-top: 20px !important;
    }

    .all-students-main .all_students {
        margin-top: 35px !important;
    }

    .student-admit-form-main .all_students {
        margin-top: 25px !important;
    }

    .add-new-techer-main .all_students {
        margin-top: 25px !important;
    }

    .add-new-class-main .all_students {
        margin-top: 25px !important;
    }

    .add-expenses-main .all_students {
        margin-top: 25px !important;
    }

}

@media screen and (max-width: 567px) {

    .cancel_buuton {
        display: block;
    }

    .akkhor_logo_name {
        display: inline-grid;
    }

    .header_div {
        width: 100%;
        position: relative;
    }

    .navbar-collapse {
        display: block;
    }

    h1 {
        font-weight: 500;
        font-size: 20px;
    }

    .fa-graduation-cap {
        font-size: 15px;
        color: #00000063;
    }

    h1 {
        margin: 0px;
        font-size: 28px;
    }

    .aside_top {
        padding: 18px;
        padding-left: 32px;
    }

    .navbar-toggler {
        margin-left: -26px;
    }

    .head_form input {
        width: 61vw;
        margin: 10px 0px;
        margin-left: 42px;
    }

    .Languages {
        font-size: 12px;
    }

    .mail_notification {
        margin: 10px 23px;
        margin-left: -20px;
    }

    .nav-link {
        margin-left: -15px;
    }

    .navbar-brand {
        transform: translate(81px, 7px);
    }

    .fuction_button {
        transform: translate(10px, 30px);
    }

    .Notice_Board_main {
        width: 100% !important;
    }

    .main_section {
        margin-left: 0px;
    }

    .my_information_image {
        width: 90px !important;
    }

    .my_information_image_write {
        padding: 15px;
    }

    .Notice_Board_second_third {
        background: #fff;
        padding: 10px 0px;
        display: flex;
        padding-left: 20px;
        border-bottom: 1px solid #00000029;
    }

    .form-control_all_students {
        width: 80% !important;
        display: flex;
        justify-content: end;
    }

    .all_students_form {
        display: flex;
        justify-content: center !important;
    }

    .form-control_students {
        width: 47% !important;
        font-size: 8px !important;
        text-align: center !important;
    }

    .all_exam_results_icons {
        display: flex;
    }

    .student_image_table {
        justify-content: center;
    }

    .student_image_table {
        justify-content: center !important;
    }

    .about_me_heading h4 {
        text-align: center;
    }

    .student_detal_table tr th {
        text-align: center;
    }

    .student_detal_table tr td {
        text-align: center;
    }

    .student_detail_icons {
        justify-content: center !important;
    }

    .all_Class_form input {
        width: 31% !important;
    }

    .transport {
        padding-bottom: 12px !important;
        margin-top: 73px !important;
    }

    .hostel-margin-top {
        margin-top: -3px !important;
    }

    .all_students {
        padding-bottom: 15px;
        margin-top: -2px;
    }

    .notice-board .all_Class_form input {
        right: 39px !important;
        max-width: 81px !important;
    }

    .notice-board .button-search {
        right: 176px !important;
    }

    .account-settings .student_image_table {
        margin-left: 0px;
    }

    .teacher-inputs input {
        max-width: 63px !important;
    }

    .subject-top {
        margin-top: 100px !important;
    }

    .fa-google-plus-g {
        font-size: 12px !important;
        padding: 10px 0px !important;
    }

    .student-main .fa-linkedin-in {
        font-size: 12px !important;
        padding: 10px 0px !important;
    }

    .student-main .fa-twitter {
        font-size: 12px !important;
        padding: 10px 0px !important;
    }

    .student-main .fa-facebook-f {
        padding: 10px 0px !important;
        font-size: 12px !important;
    }

    .student-main .ammount {
        font-size: 20px !important;
    }

    .student-main .text {
        font-size: 12px !important;
    }

    .my_information_image-main {
        padding: 30px !important;
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;
    }

    .my_information_image {
        width: 100% !important;
        max-width: 150px;
    }

    .my_information_image_write {
        max-width: 33px !important;
    }

    .my_information_main_table tr th {
        font-size: 12px !important;
        white-space: nowrap;
        text-align: right !important;
    }

    .my_information_main_table tr td {
        font-size: 12px !important;
        text-align: right !important;
        white-space: nowrap;
    }

    .student-details-main .all_students {
        margin-top: 40px !important;
    }

    .student-promotion-main .all_students {
        margin-top: 40px !important;
    }

    .parents-main .home_parents {
        margin-top: 35px !important;
    }

    .notice-bord-main .home_parents {
        margin-top: 10px !important;
    }

    .message-main .home_parents {
        padding-top: 13px;
    }

    .home-admin-main .home_admin {
        margin-top: -5px !important;
    }

    .hostel-main .home_parents {
        margin-top: 9px !important;
    }

    .google-map-main .all_students {
        margin-top: 8px !important;
    }

    .exam-grade-main .all_students {
        margin-top: 8px !important;
    }

    .create-payment-main .all_students {
        margin-top: 35px !important;
    }

    .class-routine-main .all_students {
        margin-top: 8px !important;
    }

    .Atetendance-main .all_students {
        margin-top: 8px !important;
    }

    .all-teachers-list-main .all_students {
        margin-top: 35px !important;
    }

    .all-students-main .all_students {
        margin-top: 35px !important;
    }

    .all-parents-main .all_student {
        margin-top: 100px !important;
    }

    .student-admit-form-main .all_students {
        margin-top: 35px !important;
    }


    .add-new-techer-main .all_students {
        margin-top: 35px !important;
    }

    .add_student_form-buttons {
        margin-left: 0px !important;
    }

    .add-new-class-main .all_students {
        margin-top: 35px !important;
    }

    .add-expenses-main .all_students {
        margin-top: 35px !important;
    }



}

.pannel_icon {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    width: 100%;
}

.fa-brush {
    padding: 0px 18px;
}

.login_pannel_ul li:hover {
    background-color: whitesmoke;
}

.login_pannel_ul {
    padding-left: 0px;
}

.logout {
    color: red;
}

.accordion-button {
    background: #042954 !important;
    color: #fff !important;
    height: 40px;
}

.accordion-button::after {
    background-image: var(--bs-accordion-btn-icon) none;
    content: "\f282";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 400 !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
    color: #f8c504;
    font-size: 12px;
}

.aside_centre .accordion-button:focus {
    z-index: 3;
    border-color: var(--bs-accordion-btn-focus-border-color) none;
    outline: 0;
    box-shadow: var(--bs-accordion-btn-focus-box-shadow) none;
}

.aside_centre .accordion-button:not(.collapsed) {
    background-color: var(--bs-accordion-active-bg) none;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: var(--bs-accordion-inner-border-radius) none;
    border-bottom-left-radius: var(--bs-accordion-inner-border-radius) none;
}

.aside_centre .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: var(--bs-accordion-inner-border-radius) none;
    border-top-right-radius: var(--bs-accordion-inner-border-radius) none;
    outline: none;
}

.aside_centre .accordion-item:last-of-type {
    border-bottom-right-radius: var(--bs-accordion-border-radius) none;
    border-bottom-left-radius: var(--bs-accordion-border-radius) none;
}

.aside_centre .accordion-item:first-of-type {
    border-top-left-radius: var(--bs-accordion-border-radius) none;
    border-top-right-radius: var(--bs-accordion-border-radius) none;
}




.aside_centre .accordion-item .accordion-button[aria-expanded="false"]::after {
    transform: rotate(-90deg) ;
 
}
.aside_centre .accordion-item .accordion-button[aria-expanded="true"]::after {
    transform: rotate(0deg);
}


/* DASHBOARD */

.dhashbord_ul li {
    list-style: none;
}

.dhashbord_ul {
    padding: 0px 10px;
    color: #fff;
    text-align: left;
    background-color: #051f3e;
    margin-bottom: 0px;
}

.dhashbord_ul li {
    padding: 5px 50px;
}

.dhashbord_ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.fa-palette {
    color: #f8c504;
    padding-right: 18px;
    font-size: 12px;
}

.bi-chevron-right {
    font-size: 12px;
}

.accordion-body {
    padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x) none;
}


/* ADMIN PANNEL */

.admin_pannel {
    width: 100%;
    background-color: #f0f1f3;
    padding-top: 58px;
}

.home_admin span {
    color: #8f9090;
    font-size: 13px;
}

.students_techers_child {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.home_admin {
    padding-left: 20px;
    margin-top: 0px;
}

.sudents_image_info img {
    width: 60px;
    height: 60px;
}

.sudents_image_info {
    text-align: center;
}

.sudents_image_info::after {
    content: "";
    width: 10px;
}

.sudents_image_info h4 {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
}

.students_techers_child {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    background-color: #fff;
    padding: 15px;
}

.center_border {
    width: 10px;
    height: 43px;
    border-right: 2px solid #8080804a;
}

.ammout h3 {
    font-size: 23px;
    font-weight: 400;
}

.fa-chalkboard-user {
    font-size: 30px;
    margin-left: -6px;
    color: #1e88e5;
}

.fa-hands-holding-child {
    font-size: 30px;
    margin-left: -3px;
    color: #fdcd05;
}

.fa-money-bill {
    font-size: 30px;
    margin-left: -9px;
    color: #00bcd4;
}

.student_ul li {
    padding: 6px 34px;
}

.student {
    margin: 0px !important;
}

.accordion {
    --bs-accordion-border-color: var(--bs-border-color) none;
    border-bottom: 1px solid #ffffff70;
}

.fees_and_expenses_two {
    background-color: #fff;

}

.fees_and_expenses_one {
    background-color: #fff;

}

.fees {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #00000029;
}

.fees_text h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.bi-chevron-down {
    font-size: 12px;
    color: #f8c504;
    padding: 0px 4px;
    cursor: pointer;
}

.fa-arrows-rotate {
    color: #05C855;
    font-size: 12px;
    padding: 5px 4px;
    cursor: pointer;
}

.bi-x {
    color: red;
    font-size: 12px;
    padding: 0px 4px;
    cursor: pointer;
}

.color {
    width: 20px;
    height: 20px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(22, 22, 152, 1) 60%);
}

.color_text p {
    margin-bottom: 0px;
    font-size: 11px !important;
    text-align: center;
    font-weight: 400 !important;
}

.color_text {
    font-size: 15px;
    font-weight: 600;
}

.color_div_three {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    align-items: center;
}

.fees_and_expenses_one_botom {
    padding: 10px 10px;
}

.color_one {
    background-color: #65B5FC;
    width: 20px;
    height: 20px;
}

.color_two {
    background-color: #FC9292;
    width: 20px;
    height: 20px;
}

.color_three {
    background-color: #FFD861;
    width: 20px;
    height: 20px;
}

.polling_divs {
    padding: 0px 30px;
    position: relative;
}

.polling_divs_one {
    width: 100%;
    height: 25px;
    background-color: #fff;
    margin: 10px 0px;
    border-bottom: 1px solid #0000003d;
    font-size: 11px;
    color: gray;
    display: flex;
    align-items: center;
}

.fees_management_main {
    display: flex;
}

.polling_bluie_div {
    top: 25px;
    height: 139px;
    width: 60px;
    background-color: #65B5FC;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    position: absolute;
    left: 100px;
}

.collections_text {
    width: 60px;
    margin-left: 69px;
    margin-top: -10px;
}

.collections_text p {
    font-size: 13px;
    margin: 0px;
}

.polling_red_div {
    top: 59px;
    height: 106px;
    width: 60px;
    background-color: #FC9292;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    position: absolute;
    left: 206px;
}

.Fees_text {
    width: 60px;
    margin-left: 188px;
    margin-top: -18px;
}

.Fees_text p {
    font-size: 13px;
    margin: 0px;
}

.polling_yellow_div {
    top: 94px;
    height: 71px;
    width: 60px;
    background-color: #FFD861;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    position: absolute;
    left: 315px;
}

.Expenses_text {
    width: 60px;
    margin-left: 287px;
    margin-top: -21px;
}

.Expenses_text p {
    font-size: 13px;
    margin: 0px;
}


@media screen and (max-width: 567px) {

    .polling_bluie_div {
        left: 60px;
    }

    .collections_text {
        margin-left: 49px;
    }

    .polling_red_div {
        left: 160px;
    }

    .Fees_text {
        margin-left: 166px;
    }

    .polling_yellow_div {
        left: 260px;
    }

    .Expenses_text {
        margin-left: 254px;
    }

    .polling_divs {
        padding: 0px 10px;
        padding-bottom: 10px;
    }

    .facebook {
        height: 20vh !important;
    }

    .facebook_text {
        align-items: center !important;
    }

    .fa-graduation-cap {
        top: 15px;
        left: 38px;
        font-size: 25px !important;
    }

    .aside_top span {
        right: 90px;
        top: 23px;
    }

    #headerMain {
        width: 100vw !important;
        z-index: 999;
    }

    .admin_pannel {
        padding-top: 110px !important;
    }

    .navbar-toggler-icon {
        transform: translate(7px, 7px);
    }

    .color_div_three {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100px;
    }

    .color_main {
        display: flex;
        justify-content: space-around;
    }

    .all_book_heading h4 {
        font-size: 10px !important;
        text-align: center;
    }

    .all_book_right form {
        width: 50%;
    }

    .all_book_right {
        justify-content: space-between;
    }

    .add_padding_top_all_books {
        padding-top: 105px !important;
    }

    .all_book_tab {
        overflow: auto !important;
    }

    .fa-eye_second {
        font-size: 12px !important;
        margin-right: 5px !important;
    }

    .fa-file-pen {
        font-size: 12px !important;
        margin-right: 5px !important;
    }

    .fa-trash {
        font-size: 12px !important;
        margin-right: 5px !important;
    }

    .roll_number {
        padding: 12px;
    }

    .subject_table .row-one th {
        padding: 6px;
    }

    .add_student_form-buttons {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }

    .notice-board .all_Class_form input {
        margin-right: 111px !important;
        margin-left: -40px !important;
    }

    .notice-board .button {
        margin-right: -55px;
        transform: translate(-31px, 0px);
    }

    .notice-board .button-search {
        transform: translate(30px, -1px);
    }

    .account-setting-top {
        margin-top: -1px !important;
        padding-bottom: 15px !important;
    }

    .student-main .home_admin {
        margin-top: 41px !important;
    }

    .exam-schedule-main .all_students {
        margin-top: 8px !important;
    }

}

.fees_and_expenses_two {
    background-color: transparent;
    display: flex;
}

.facebook {
    width: 100%;
    background-color: #3E517F;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    height: 112px;
}

.twitter {
    width: 100%;
    background-color: red;
}

.google {
    width: 100%;
    background-color: green;
}

.linked_in {
    width: 100%;
    background-color: yellow;
}

.facebook_centre_div {
    height: 30px;
    width: 1px;
    background-color: #fff;
}

.facebook_text {
    display: flex;
    align-items: end;
    height: 100%;
    justify-content: space-evenly;
}

.fa-facebook-f {
    display: block;
    padding: 18px 0px;
}

.ammount {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 400;
}

.text {
    margin: 0px;
    font-weight: 300;
}

.fa-twitter {
    display: block;
    padding: 18px 0px;
}

.twitter {
    background-color: #4194D2;
}

.fa-google-plus-g {
    display: block;
    padding: 18px 0px;
}

.Google {
    background-color: #CE4230;
}

.fa-linkedin-in {
    display: block;
    padding: 18px 0px;
}

.Linkedin {
    background-color: #1666C1;
}

.event_celender_div {
    background-color: #fff;
    width: 98%;
}

.event_celender_div_main {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #00000029;
}

.event_celender_div_main h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.april {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
}

.april_two h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.april_one button {
    width: 40px;
    border: none;
    border-radius: 32px;
    background: #FDC800;
}

.april_one i {
    font-size: 12px;
    color: #fff;
}

.april_three button {
    width: 40px;
    border: none;
    border-radius: 32px;
    background: #cdd2dc;
}

.april_three i {
    font-size: 12px;
    color: #000;
}

.event_celender_table_div {
    margin: 0 30px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.event_celender_table_div table {
    background-color: #F8F8F8;
    width: 100%;
}

.event_celender_table_f_row th {
    border-right: 1px solid #0000002e;
    text-align: center;
    padding: 5px;
    font-weight: 600;
}

.event_celender_table_f_row {
    border-bottom: 1px solid #0000002e;
}

.event_celender_table_s_row td {
    border-right: 1px solid #0000002e;
    text-align: center;
    padding: 5px;
    font-weight: 600;
    font-size: 13px;
    color: #0000007d;
}

.event_celender_table_s_row {
    border-bottom: 1px solid #0000002e;
}

.third-row td {
    color: #000000f0;
}

.Fourteen {
    background-color: rebeccapurple;
    border-radius: 32px;
    color: #fff;
    padding: 3px;
}

.eighteen {
    background-color: #7CC576;
    border-radius: 32px;
    color: #fff;
    padding: 3px;
}

.Twenty_seven {
    background-color: #F62D74;
    border-radius: 32px;
    color: #fff;
    padding: 3px;
}

.last_row td {
    color: #0000005c;
}

.end {
    border-right: none !important;
}

.bg_add {
    background-color: rebeccapurple;
}

#headerMain {
    position: fixed;
    width: 82vw;
    z-index: 1000;
}

/* EVENT CELLENDER */

/* NOTICE BOARD START */

.Event-Calender {
    display: flex;
}

.Notice_Board {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #00000029;
    align-items: center;
}

.Notice_Board_text h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    white-space: nowrap;
    margin-right: 10px;
}

.scroll_div {
    overflow: hidden;
    height: 327px;
    text-align: justify;
    overflow-y: auto;
    padding: 15px;
}

.scroll_div::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 100px;
    background-color: #1E88E5;
    background-clip: content-box;
    height: 10px;
}

.scroll_div::-webkit-scrollbar {
    background-clip: content-box;
    background-color: transparent;
    box-shadow: inset 2px 2px 5px 0 rgba(#ffffffc4, 0.5);
}

.Notice_Board_main {
    background-color: #fff;
    width: 97%;
}

.Sixteen_may_one_date {
    font-size: 14px;
    font-weight: 500;
}

.Sixteen_may_one_heading h4 {
    font-size: 12px;
    color: #B7B7B7;
    margin: 0;
    line-height: 20px;
}

.Sixteen_may_one_heading h4 span {
    color: #369fff !important;
    font-weight: 700;
    padding-right: 5px;
}

.Sixteen_may_one_text {
    font-size: 11px;
    line-height: 20px;
}

.Killar_Miller {
    color: #fb9b1f !important;
}

.Jennyfar_Lopez {
    color: #3F97E7 !important;
}

.Mike_Hussy {
    color: #82AE5C !important;
}

/* RECENT ACTIVITIES START */

.recents_activitis_main {
    background-color: #FFF;
}

.recents_activitis {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #00000029;
}

.recents_activitis_second {
    height: 327px;
    padding: 30px 0px 15px 22px;
    display: flex;
}

.streat_line {
    width: 1px;
    background-color: #0000002b;
    height: 275px;
    position: relative;
}

.streat_line_div_one {
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    bottom: 242px;
    left: -4px;
    border-radius: 32px;
    border: 3px solid #8162C2;
}

.streat_line_div_two {
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    bottom: 197px;
    left: -4px;
    border-radius: 32px;
    border: 3px solid #FBAE3C;
}

.streat_line_div_three {
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    bottom: 153px;
    left: -4px;
    border-radius: 32px;
    border: 3px solid #56B9B0;
}

.streat_line_div_four {
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    bottom: 108px;
    left: -4px;
    border-radius: 32px;
    border: 3px solid #F62C74;
}

.streat_line_div_five {
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    bottom: 65px;
    left: -4px;
    border-radius: 32px;
    border: 3px solid #91B86E;
}

.streat_line_div_six {
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    bottom: 25px;
    left: -4px;
    border-radius: 32px;
    border: 3px solid #3896E8;
}

.streat_line_front_one {
    margin-left: 15px;
    margin-top: 19px;
}

.streat_line_front_one_minutes p {
    margin: 0;
    font-size: 12px;
    color: #A5A5A5;
}

.streat_line_front_one_text p {
    margin: 0;
    font-size: 13px;
}

.streat_line_front_two {
    margin-left: 15px;
    margin-top: 7px;
}

.streat_line_front_three {
    margin-left: 15px;
    margin-top: 7px;
}

.streat_line_front_four {
    margin-left: 15px;
    margin-top: 7px;
}

.streat_line_front_five {
    margin-left: 15px;
    margin-top: 7px;
}

.streat_line_front_six {
    margin-left: 15px;
    margin-top: 1px;
}

/* RECENT ACTIVITIES END */

/* STUDENT PANNEL */

/* UPCOMING EXAM  */

.fa-pen-to-square {
    font-size: 30px;
    margin-left: 12px;
}

.Upcoming_Exam {
    color: #FFF;
    background-color: #6ABD42;
}

.Upcoming_Exam_senter {
    border-right: 2px solid #ffffff;
}

/* UPCOMING EXAM  */

/* DUE FEES  */

.fa-money-bill-1-wave {
    font-size: 30px;
    margin-left: 12px;
}

.Due_Fees {
    color: #FFF;
    background-color: #F93032;
}

.Due_Fees_center {
    border-right: 2px solid #ffffff;
}

/* DUE FEES */

/* EVENTS  */

.fa-flag {
    font-size: 30px;
    margin-left: 12px;
}

.events {
    color: #FFF;
    background-color: #1E91E5;
}

.events_center {
    border-right: 2px solid #ffffff;
}

/* EVENTS */

/* DOCUMENTS  */

.fa-file {
    font-size: 30px;
    margin-left: 12px;
}

.Documents {
    color: #FFF;
    background-color: #FED928;
}

.Documents_center {
    border-right: 2px solid #ffffff;
}

/* DOCUMENTS */

/* MY IMFORMATION */

.my_information_main {
    background-color: #fff;
    width: 98%;
}

.my_information {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #00000029;
}

.my_information h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.my_information_image-main {
    padding: 30px;
    display: flex;
}

.my_information_image {
    width: 140px;
}

.my_information_image_ {
    margin-bottom: 10px;
}

.my_information_image_write {
    height: 30px;
    background-color: #F1F2F4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    padding: 8px;
    width: 100%;
    max-width: 21px;
}

.fa-pen-to-square_second {
    color: #A7A8A9;
    font-size: 15px;
    margin: 0px;
}

.fa-share {
    color: #A7A8A9;
    font-size: 13px;
    margin: 0px;
}

.fa-download {
    color: #A7A8A9;
    font-size: 13px;
    margin: 0px;
}

.fa-file-pdf {
    color: #A7A8A9;
    font-size: 13px;
    margin: 0px;
}

.my_information_image_bottom {
    display: flex;
}

.my_information_table {
    padding-left: 10px;
    width: 100%;
}

.my_information_main_table {
    width: 80%;
}

.my_information_main_table tr th {
    font-weight: 400;
    color: #B1B1B1;
    padding: 12px 0px;
    font-size: 14px;
    text-align: center;
}

.my_information_main_table tr td {
    padding: 5px;
    font-size: 14px;
    text-align: center;
}

.student_information {
    display: flex;
}

.scroll_div_nest::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 100px;
    background-color: #1E88E5;
    background-clip: content-box;
    height: 10px;
}

.scroll_div_nest::-webkit-scrollbar {
    background-clip: content-box;
    background-color: transparent;
    box-shadow: inset 2px 2px 5px 0 rgba(#ffffffc4, 0.5);
}

.scroll_div_nest {
    background-color: #fff;
}

.Notice_Board_second {
    background-color: #fff;
}

.form-control {
    width: 32%;
    height: 25px;
    font-size: 10px;
    border-radius: 25px;
    text-align: start;
    letter-spacing: 0px;
    background: #F9F9F9;
    padding: 0px;
}

.Notice_Board_second_third {
    background: #fff;
    padding: 10px 0px;
    display: flex;
    padding-left: 9px;
    border-bottom: 1px solid #00000029;
    justify-content: space-around;
    align-items: center;
}

.inputs_form_divs {
    display: flex;
    justify-content: end;
}

.fa-pen {
    color: #fff;
    font-size: 25px;
}

/* MY IMFORMATION */

/* ALL EXAM RESULT  */

.all_exam_results_main {
    background-color: #fff;
}

.all_exam_results_table {
    width: 100%;
}

.all_exam_results {
    height: 390px;
    overflow-y: auto;
}

.all_exam_results::-webkit-scrollbar {
    background-clip: content-box;
    background-color: transparent;
    box-shadow: inset 2px 2px 5px 0 rgba(#ffffffc4, 0.5);
}

.all_exam_results::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 100px;
    background-color: #70777E;
    background-clip: content-box;
    height: 10px;
}

.all_exam_results_table tr {
    text-align: center;
    white-space: nowrap;
    border-bottom: 0px;
}

.all_exam_results_table_fr th {
    font-size: 12px;
    font-weight: 500;
    padding: 7px;
}

.all_exam_results_table_sr td {
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

.all_exam_results_table_thr td {
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

/* ALL EXAM RESULT  */

/* STUDENT PANNEL */

.fa-user {
    padding: 0px 20px;
}

.fa-chart-line {
    padding: 0px 20px;
}

.fa-gear {
    padding: 0px 20px;
}

.fa-right-from-bracket {
    padding: 0px 20px;
    color: #f51a00;
}

/* PARENTS PANNEL */

.home_parents {
    padding-top: 5px;
    padding-left: 20px;
}

.my_children_main {
    background-color: #fff;
}

.my_children_main_image img {
    width: 130px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.my_children_main_image_main {
    background-color: #fff;
    padding: 20px;
}

.fa-eye {
    color: #A7A8A9;
    font-size: 15px;
    margin: 0px;
}

.my_children_main_image_bottom {
    margin-left: -7px;
}

.my_cildren_two {
    background-color: #fff;
    width: 100%;
    margin-top: 5px;
}

.my_children_main_one {
    background-color: #fff;
}

.my_cildren_two_fr th {
    font-size: 14px;
    font-weight: 400;
}

.my_cildren_two_fr td {
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
}

.children_one {
    background-color: #fff;
}

.parents_section_two_div_one {
    background-color: #fff;
    display: flex;
}

.money_icon {
    background-color: #FA3D40;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.fa-money-bill-1-wave {
    color: #fff;
}

.money_icon_text {
    width: 60%;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 25px;
}

.fa-pen-to-square_second {
    color: #A7A8A9;
    font-size: 13px !important;
}

.write_icon {
    background-color: #6CBD42;
}

.student_cap {
    position: static;
    transform: rotate(0deg) !important;
    color: #fff;
}

.student_caps {
    background-color: #1E8CE5;
}

.money_two {
    background-color: #00C9D4;
}

.scroll_div_nest_ {
    height: 250px;
}

.all_exam_results_second {
    background: #fff;
    padding: 10px 0px;
    display: flex;
    padding-left: 0px;
    border-bottom: 1px solid #00000029;
    justify-content: space-evenly;
    align-items: center;
}

.all_exam_results_table_nest {
    height: 390px;
}

.scroll_div_nest_second {
    height: 202px;
}

.all_exam_results_nest {
    height: 275px;
}

.Notice_Board_second_third__ {
    display: flex;
    justify-content: space-around;
}

.due_button {
    background-color: #EC1F1F;
    border: none;
    width: 100%;
    padding: 2px;
    border-radius: 32px;
    color: #fff;
    font-weight: 500;
}

.paid_button {
    background-color: #74D772;
}

.parents_main_sec {
    margin-top: -18px;
}

/* PARENTS PANNEL */

.parents_pannel_one span {
    color: #8f9090;
    font-size: 13px;
}

/* ALL STUDENTS */

.all_student_top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #00000029;
    align-items: center;
}

.all_students {
    padding-bottom: 15px;
    margin-top: 30px;
}

.hostel-margin-top {
    margin-top: 22px;
}

.search_and_icons {
    display: flex;
}

.all_student_top_end {
    display: flex;
}

.all_students_table_div {
    background-color: #fff;
}

.color_div {
    width: 15px;
    height: 15px;
    background-color: #F9F9F9;
    border: 1px solid #80808057;
    margin-right: 10px;
}

.color_roll_num {
    display: flex;
    padding: 10px;
    align-items: center;
}

.all_students_main_table_fr th {
    font-size: 11px;
    font-weight: 600;
    padding: 10px;
}

.all_students_main_table {
    width: 100%;
}

.all_students_main_table_sr td {
    font-size: 10px;
    text-align: left;
}

.table_img {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.table_img img {
    display: flex;
    justify-content: center;
    border-radius: 32px;
    width: 20px;
    height: 20px;
    margin-right: 16px;
}

.fa-eye_second {
    color: #969696;
    font-size: 12px;
}

.fa-file-pen {
    color: #4DA551;
    font-size: 12px;
}

.fa-trash {
    color: #F87B7B;
    font-size: 12px;
}

.table_icons {
    display: flex;
    justify-content: space-around;
}

.all_students_table_div {
    height: 800px;
    overflow: auto;
}

.all_students_table_div::-webkit-scrollbar {
    background-clip: content-box;
    background-color: transparent;
    box-shadow: inset 2px 2px 5px 0 rgba(#ffffffc4, 0.5);
}

.all_students_table_div::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 100px;
    background-color: #70777E;
    background-clip: content-box;
    height: 10px;
}

/* ALL STUDENTS */

/* STUDENT DETAILS */

.students_detail_main_sec {
    background-color: #fff;
}

.student_details_top {
    border-bottom: 1px solid #00000045;
    margin: 0px !important;
}

.students_detail_image img {
    width: 200px;
    height: 200px;
}

.about_me_heading h4 {
    font-size: 25px;
}

.student_image_table {
    display: flex;
}

.student_detal_table {
    width: 100%;
    text-align: start;
}

.student_detal_table tr th {
    padding: 5px;
    font-weight: 400;
    font-size: 14px;
}

.student_detal_table tr td {
    font-weight: 500;
    font-size: 14px;
}

.student_detail_icons {
    display: flex;
    justify-content: end;
    padding-bottom: 15px;
}

.student_detail_icons_nest {
    display: flex;
    justify-content: space-evenly;
    width: 100px;
}

.student_detail_icons_one {
    background-color: #F1F2F4;
    padding: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.student_detail_icons_one i {
    font-size: 12px !important;
}

/* STUDENT DETAILS */

/* STUDENT ADMIT FORM */

.add_student_form-main {
    background-color: #fff;
}

.student_heading h4 {
    font-size: 16px;
    padding: 10px 15px;
}

.student_admit_form_one {
    padding: 0px 20px;
}

.form-label {
    font-size: 13px;
}

.name {
    width: 100%;
    border-radius: 0px;
    background-color: #F5F5F5;
}

.form-select {
    width: 100%;
    font-size: 10px;
    border-radius: 3px;
    background-color: #F5F5F5;
    padding: 5px;
    font-size: 11px;
    color: gray;
}

.date_birth {
    width: 100%;
    border-radius: 3px;
    background-color: #F5F5F5;
    padding: 5px;
    font-size: 11px;
    color: gray;
}

.choose_file {
    width: 100%;
    border-radius: 3px;
    background-color: transparent;
    padding: 5px;
    font-size: 11px;
    color: gray;
}

.add_student_form-buttons {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.add_student_form-buttons_one {
    background-color: #F8C504;
    width: 100px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    padding: 8px;
    border: none;
}

.add_student_form-buttons_two {
    background-color: #042954;
}

/* STUDENT ADMIT FORM */

/* STUDENT PROMOTION */

.student_promotion_main {
    background-color: #fff;
}

.student_promotion_form {
    display: flex;
}

.fa-user-group {
    color: #f8c504;
    padding-right: 18px;
    font-size: 12px;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-active-icon) none;
    transform: var(--bs-accordion-btn-icon-transform) none;
}

/* STUDENT PROMOTION */

/* ALL PARENTS */

.fa-person-breastfeeding {
    color: #f8c504;
    padding-right: 25px;
    font-size: 12px;
}

.all_parents_input {
    width: 48%;
}

.parents_button {
    text-decoration: none;
    color: #fff;
}

/* ALL PARENTS */

.fa-book {
    color: #f8c504;
    padding-right: 25px;
    font-size: 12px;
}

.library {
    padding: 6px 20px;
}

.fa-vault {
    color: #f8c504;
    padding-right: 21px;
    font-size: 12px;
}

.fa-school {
    color: #f8c504;
    padding-right: 21px;
    font-size: 12px;
}

.bi-file-earmark-text {
    color: #f8c504;
    padding-right: 21px;
    font-size: 12px;
}

.bi-bounding-box {
    color: #f8c504;
    padding-right: 21px;
    font-size: 12px;
}

.fa-address-card {
    color: #f8c504;
    padding-right: 21px;
    font-size: 12px;
}

.student_asidebar_icon {
    position: static;
    transform: rotate(0deg) !important;
    color: #f8c504;
    padding-right: 21px;
    font-size: 12px !important;
}

.fa-car {
    color: #f8c504;
    padding-right: 21px;
    font-size: 12px;
}

.fa-hotel {
    color: #f8c504;
    padding-right: 21px;
    font-size: 12px;
}

.dashbord {
    font-size: 14px;
}

.dhashbord_ul li a {
    font-size: 12px;
}

.fa-circle-exclamation {
    color: #f8c504;
    padding-right: 21px;
    font-size: 12px;
}

.fa-message {
    color: #f8c504;
    padding-right: 21px;
    font-size: 12px;
}

.aside_centre {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 100px;
}

.aside_centre::-webkit-scrollbar {
    background-clip: content-box;
    background-color: transparent;
    box-shadow: inset 2px 2px 5px 0 rgba(#ffffffc4, 0.5);
}

.aside_centre::-webkit-scrollbar-thumb {
    border: 8px solid transparent;
    border-radius: 100px;
    background-color: #1E88E5;
    background-clip: content-box;
    height: 10px;
}

.fa-bars-staggered {
    color: #f8c504;
    padding-right: 21px;
    font-size: 12px;
}

.fa-location-dot {
    color: #f8c504;
    padding-right: 21px;
    font-size: 12px;
}

.fa-screwdriver-wrench {
    color: #f8c504;
    padding-right: 21px;
    font-size: 12px;
}

.student_main_sec {
    padding-top: 63px;
    padding-bottom: 20px;
}

.parents_main_sec_top {
    padding-top: 63px;
    padding-bottom: 20px;
}

.admin_pannel_main_sec {
    padding-bottom: 20px;
}

.all_srudents_main_sec {
    padding-top: 63px;
    padding-bottom: 20px;
}

.students_details {
    padding-top: 63px;
    padding-bottom: 20px;
}

.admit_form_sec {
    padding-top: 63px;
    padding-bottom: 20px;
}

.student_prmotion_sec {
    padding-top: 63px;
    padding-bottom: 20px;
}

.all_teacher_list_sec {
    padding-top: 63px;
    padding-bottom: 20px;
}

.add_new_teacher {
    padding-top: 63px;
    padding-bottom: 20px;
}

.all_parents_list {
    padding-top: 63px;
    padding-bottom: 20px;
}

.header-add-bg {
    background-color: #0000005b !important;
    transition: all 1s ease-in-out;
}

.add_padding_top_all_books {
    padding-top: 63px;
    padding-bottom: 20px;
}

.add_color {
    color: #2f507d;
    font-weight: 500;
}

.background {
    background-color: #fff;
}

.w-100 {
    width: 100%;
}

.all_book_heading h4 {
    font-size: 16px;
    font-weight: 600;
}

.all_book_right form {
    width: 100%;
}

.all_book_right form input {
    width: 49%;
}

.all_book_tab table .row-one th {
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;
}

.row-two {
    font-size: 12px;
    vertical-align: middle;
}

.row-two td {
    white-space: nowrap;
}


.all_book_tab {
    height: 70vh;
    overflow: auto;
}

table td div button {
    background-color: green;
    color: #fff;
    padding: 1px;
}

.red_button {
    background: #EA0F0F;
}

.all_Class_form input {
    width: 32%;
}

.commun_search_button {
    border: none;
    font-size: 10px;
    padding: 5px;
    border-radius: 20px;
    width: 60px;
    background: #194D89;
    color: #fff;
    margin: 0px 2px;
}

.all_subjects_tab {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #00000038;
}

.roll_number {
    padding: 12px;
}

.subject_main {
    height: 102vh;
}

.padding-top {
    padding-top: 60px;
}

.btn-attendace {
    border: none;
    font-size: 10px;
    padding: 5px 15px;
    border-radius: 20px;
    background: #194D89;
    color: #fff;
    margin: 0px 2px;
    white-space: nowrap;
}

.attendance-table tr th {
    font-weight: 600;
    font-size: 11px;
    border: 1px solid #EDEDED;
}

.attendance-table tr td {
    font-size: 12px;
    border: 1px solid #EDEDED;
}

.attendance-table .fa-check {
    color: #29a72f;
    font-size: 13px;
}

.attendance-table .fa-xmark {
    color: #D02329;
    font-size: 13px;
}

.attendance-table .white-space {
    white-space: nowrap;
}

.add-exam-buton {
    margin-top: 0px;
}

.exam-schedule .border-bottom {
    border-bottom: 1px solid #000;
}

.all-exam-schedule table tr th {
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    padding: 15px 6px !important;
}

.coment-box {
    height: 80px;
}

.kazi-fahim-admin h2 {
    margin-bottom: 0px;
    font-size: 12px;
}

.notice-board .scroll_div_nest_second {
    height: 450px;
}

.notice-board .scroll_div_nest_second .Sixteen_may_one {
    padding: 10px 5px;
    border-bottom: 1px solid #00000030;
}

.notice-board .all_Class_form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: -180px;
}

.notice-board .all_Class_form input {
    max-width: 100px;
    position: absolute;
    right: 150px;
    top: 12px;
    width: 100%;
}

.notice-board .button-search {
    width: 100%;
    max-width: 55px;
    margin-right: -55px;
    position: absolute;
    right: 147px;
}

.notice-board .Notice_Board_second {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.notice-board .Notice_Board_icons {
    margin-left: 96px;
}

.notice-bord-form {
    width: 100%;
    max-width: 100px;
}

@media (max-width: 992px) {
    .account-setting-top {
        margin-top: -1px !important;
        padding-bottom: 15px !important;
    }

}

@media (max-width: 1243px) {

    .akkhor_logo_name {
        margin: 0px !important;
    }

    .akkhor_logo_name strong {
        font-size: 15px !important;
    }

    .akkhor_logo_name span {
        font-size: 12px !important;
        text-overflow: ellipsis;
        width: 120px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }

}

@media (max-width: 1200px) {

    .main_section {
        margin-left: 0px;
    }

    #headerMain {
        width: 100vw;
    }

    .none-btn {
        display: block !important;
    }

    .navbar-nav {
        display: flex;
        align-items: center;
        margin-top: 15px;
    }

    .Languages {
        border-right: none;
        margin-top: 10px;
    }

    .head_form {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .head_form input {
        max-width: 600px;
        width: 100%;
    }

    .login_pannel {
        padding: 10px 0px;
        margin-right: 0px;
    }

    .dropdown-menu[data-bs-popper] {
        margin-bottom: 25px;
    }

    .mail_notification {
        margin: 15px 6px;
    }

    .aside_bar {
        position: absolute;
        width: 250px;
        display: block;
        z-index: 1003;
        height: 100vh;
        left: -270px;
    }





    .aside-display-none {
        position: absolute ;
        left: -270px ;
    }
    .aside-bar-block {
        left: 0px ;
        position: absolute ;
    }



}

@media (min-width: 820px) and (max-width: 1200px) {
    .navbar-brand {
        transform: translate(320px, 0px);
    }

    .fuction_button {
        transform: translate(6px, 3px);
    }
}

.fa-magnifying-glass {
    position: relative;
    left: -27px;
    font-size: 10px;
    vertical-align: 1px;
}

.message .height-100 {
    height: 100%;
}

.message .add_student_form-buttons_one {
    max-width: 122px;
    width: 100%;
}

.succes-msg-img img {
    background-color: #0080003d;
    border-radius: 32px;
}

.succes-msg-text p {
    font-style: italic;
    color: #D0D0D0;
}

.cancel-img img {
    border-radius: 100% !important;
    height: 50px !important;
    width: 50px !important;
}

.account-setting-top {
    margin-top: 0px;
    padding-bottom: 15px;
}

.none-btn {
    display: none;
}

.Languages::after {
    content: "\f282";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    border-top: none;
    font-size: 16px;
    border-right: 0em solid transparent;
    border-bottom: 0;
    border-left: 0em solid transparent;
    margin-left: 0px;
    vertical-align: -5px;
    font-weight: 600 !important;
}

.admin-main-span::after {
    content: "\f282";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    border-top: none;
    font-size: 16px;
    border-right: 0em solid transparent;
    border-bottom: 0;
    border-left: 0em solid transparent;
    margin-left: 0px;
    vertical-align: -5px;
    font-weight: 600 !important;
}

.login_pannel::after {
    display: none;
}

.login_pannel p {
    font-size: 10px;
    margin-top: -6px;
}

.login_pannel span {
    font-size: 10px;
}

.transport {
    padding-bottom: 12px;
    margin-top: 60px;
}

.teacher-inputs input {
    width: 100%;
    max-width: 100px;
}

.subject_table .subject-first-row {
    white-space: nowrap;
}

.subject-top {
    margin-top: 60px;
    padding-bottom: 10px;
}

.Subject_tab {
    overflow-y: auto;
}

.student-form {
    display: flex;
    justify-content: end;
    width: 100%;
}

.student-form input {
    max-width: 100px;
}

.student-main .button {
    max-width: 65px;
}

.student-main .icons {
    max-width: 50px;
}

@media screen and (max-width: 992px) {
    .my_information_image_bottom {
        justify-content: center !important;
    }

    .parents-main .my_children_main_image {
        justify-content: center !important;
    }

    .student_image_table {
        display: flex;
        justify-content: center !important;
    }

    .about_me_heading h4 {
        font-size: 20px;
        text-align: center;
    }

    .student_detal_table tr td {
        font-size: 12px;
        text-align: center;
    }

    .student_detal_table tr th {
        font-size: 12px;
        text-align: center;
    }

    .student_detail_icons {
        justify-content: center !important;
    }

    .parents-main .student-image {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 170px;
    }

    .parents-main .my_cildren_two_fr td {
        font-size: 12px;
        text-align: center;
    }

    .parents-main .my_cildren_two_fr th {
        font-size: 12px;
        text-align: center;
    }
}

.student-details-main .all_students {
    margin-top: 0px;
}

.student-promotion-main .all_students {
    margin-top: 0px;
}

.parents-main .inputs_form_divs {
    width: 100%;
}

.parents-main .inputs_form_divs input {
    width: 100%;
    max-width: 100px;
    margin-right: 5px;
}

.parents-main .all_exam_results_icons {
    width: 100%;
    max-width: 69px;
}

.notice-bord-main .home_parents {
    margin-top: -25px;
}

.message-main .hostel-margin-top {
    margin-top: 0px !important;
}

.home-admin-main .home_admin {
    margin-top: 10px;
}

.hostel-main .hostel-margin-top {
    margin-top: -2px;
}

.hostel-main .home_parents {
    margin-top: 0px;
}

.google-map-main .all_students {
    margin-top: 0px;
}

.fees-collection-main .all_students {
    margin-top: 0px;
}

.fees-collection-main .table-hover tr {
    white-space: nowrap;
}

.student-collection {
    border-bottom: 1px solid #00000030;
}

.exam-schedule-main .all_students {
    margin-top: 0px;
}

.exam-grade-main .all_students {
    margin-top: 0px;
}

.create-payment-main .all_students {
    margin-top: 0px;
}

.class-routine-main .all_students {
    margin-top: 0px;
}

.Atetendance-main .all_students {
    margin-top: 0px;
}

.all-teachers-list-main .all_students {
    margin-top: 0px;
}

.all-teachers-list-main .all_students_main_table_fr {
    white-space: nowrap;
    vertical-align: middle;
}

.all-teachers-list-main .all_students_main_table_sr td {
    white-space: nowrap;
    margin-left: 5px;
    vertical-align: middle;
}

.all-students-main .all_students {
    margin-top: 0px;
}

.all-parents-main .all_student {
    margin-top: 60px;
    padding-bottom: 10px
}

.all-parents-main .all_students_main_table_fr th {
    vertical-align: middle;
    white-space: nowrap;
}

.all-parents-main .all_students_main_table_sr td {
    vertical-align: middle;
    white-space: nowrap;
}

.all-expenses-main .all_students {
    margin-top: 0px;
}

.all-expenses-main .row-one th {
    white-space: nowrap;
}

.all-expenses-main .justify-content-between {
    border-bottom: 1px solid #0000003b;
}

.all-classes-main .all_students {
    margin-top: 0px;
}

.all-classes-main .border-bottom {
    border-bottom: 1px solid black;
}

.all-books-main .all_students {
    margin-top: 0px;
}

.student-admit-form-main .all_students {
    margin-top: 0px;
}

.home-admin-main .home_admin {
    margin-top: 10px;
}

.add-new-techer-main .all_students {
    margin-top: 0px;
}

.add-new-class-main .all_students {
    margin-top: 0px;
}

.student-admit-form-main .all_students {
    margin-top: 0px;
}

.add-expenses-main .all_students {
    margin-top: 0px;
}



/* .accordion-button::after {

} */